USE [csi_sesi]
GO
/****** Object:  Table [dbo].[arma]    Script Date: 28/02/2024 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arma](
	[idArma] [int] NOT NULL,
	[descricao] [varchar](40) NOT NULL,
	[fabricante] [varchar](20) NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_arma] PRIMARY KEY CLUSTERED 
(
	[idArma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[criminoso]    Script Date: 28/02/2024 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[criminoso](
	[codigoCriminoso] [int] NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[cpf] [numeric](11, 0) NOT NULL,
	[rg] [varchar](20) NOT NULL,
	[datanasc] [date] NOT NULL,
	[foto] [nvarchar](100) NOT NULL,
	[impressao] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_criminoso] PRIMARY KEY CLUSTERED 
(
	[codigoCriminoso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ocorrencia]    Script Date: 28/02/2024 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocorrencia](
	[idOcorrencia] [smallint] NOT NULL,
	[descricao] [nvarchar](100) NOT NULL,
	[local] [varchar](30) NOT NULL,
	[data] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[vitima] [int] NOT NULL,
	[bandidin] [int] NOT NULL,
	[policia] [int] NOT NULL,
	[arma] [int] NOT NULL,
 CONSTRAINT [PK_ocorrencia] PRIMARY KEY CLUSTERED 
(
	[idOcorrencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[policial]    Script Date: 28/02/2024 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[policial](
	[idPolicia] [int] NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[cpf] [numeric](11, 0) NOT NULL,
	[rg] [varchar](20) NOT NULL,
	[telefone] [nvarchar](25) NOT NULL,
	[cargo] [varchar](20) NOT NULL,
 CONSTRAINT [PK_policial] PRIMARY KEY CLUSTERED 
(
	[idPolicia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vitima]    Script Date: 28/02/2024 18:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vitima](
	[idVitima] [int] NOT NULL,
	[nome] [varchar](80) NOT NULL,
	[cpf] [numeric](11, 0) NOT NULL,
	[rg] [varchar](20) NOT NULL,
	[telefone] [varchar](20) NOT NULL,
	[email] [varchar](60) NOT NULL,
	[datanasc] [date] NOT NULL,
 CONSTRAINT [PK_vitima] PRIMARY KEY CLUSTERED 
(
	[idVitima] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[criminoso] ([codigoCriminoso], [nome], [cpf], [rg], [datanasc], [foto], [impressao]) VALUES (33325, N'Renato Gabriel Kauê Assis', CAST(77855194126 AS Numeric(11, 0)), N'392106024', CAST(N'1999-04-05' AS Date), N'https://drive.google.com/file/d/1MqET6edTIuEDKFx0ZzALofukUNyQP2oP/view?usp=drive_link', N'https://drive.google.com/file/d/1thAiilQB0PX82biFX0FVRCgdMBARJIeg/view?usp=drive_link')
INSERT [dbo].[criminoso] ([codigoCriminoso], [nome], [cpf], [rg], [datanasc], [foto], [impressao]) VALUES (33329, N'Elias Lucas Pinto', CAST(2792762730 AS Numeric(11, 0)), N'481861944', CAST(N'1995-01-15' AS Date), N'https://drive.google.com/file/d/1Et1Zf7RQvNYgDxuHqHdnZo62ZPN9ZM-C/view?usp=drive_link', N'https://drive.google.com/file/d/1Tru3Qc1afKtThOsm4Q0iH-5m_mujfAXD/view?usp=drive_link')
INSERT [dbo].[criminoso] ([codigoCriminoso], [nome], [cpf], [rg], [datanasc], [foto], [impressao]) VALUES (33334, N'Isabel Tatiane Jéssica Nascimento', CAST(89700440354 AS Numeric(11, 0)), N'364069958', CAST(N'1990-03-14' AS Date), N'https://drive.google.com/file/d/1gB8TAgEtuf3GUVByGxpyh8sPh5poX5cJ/view?usp=drive_link', N'https://drive.google.com/file/d/19rgUXQNnWoMHlC3tvoLX5vKjGIWmRtcZ/view?usp=drive_link')
GO
INSERT [dbo].[policial] ([idPolicia], [nome], [cpf], [rg], [telefone], [cargo]) VALUES (87720, N'Francisco Danilo Anthony Pereira', CAST(3329932210 AS Numeric(11, 0)), N'290926853', N'(99) 5555-40002', N'escrivao')
INSERT [dbo].[policial] ([idPolicia], [nome], [cpf], [rg], [telefone], [cargo]) VALUES (87721, N'Maya Nair Letícia Pinto', CAST(22358213594 AS Numeric(11, 0)), N'385423597', N'(99) 5555-4052', N'escrivao')
INSERT [dbo].[policial] ([idPolicia], [nome], [cpf], [rg], [telefone], [cargo]) VALUES (87741, N'Luan Felipe Rodrigo Monteiro', CAST(45875640448 AS Numeric(11, 0)), N'156703683', N'(99) 5555-2333', N'carcereiro')
GO
INSERT [dbo].[vitima] ([idVitima], [nome], [cpf], [rg], [telefone], [email], [datanasc]) VALUES (11119, N'Levi Cláudio Bento da Rocha', CAST(77950213442 AS Numeric(11, 0)), N'291181612', N'6135789666', N'levi.claudio.darocha@gruposeteestrelas.com.br', CAST(N'2005-01-10' AS Date))
INSERT [dbo].[vitima] ([idVitima], [nome], [cpf], [rg], [telefone], [email], [datanasc]) VALUES (11120, N'Eduardo Nelson Theo Mendes', CAST(17017958330 AS Numeric(11, 0)), N'242313899', N'6328826650', N'eduardo.nelson.mendes@pig.com.br', CAST(N'2004-02-10' AS Date))
INSERT [dbo].[vitima] ([idVitima], [nome], [cpf], [rg], [telefone], [email], [datanasc]) VALUES (11122, N'Rita Andrea Emanuelly Moreira', CAST(20526070994 AS Numeric(11, 0)), N'173160797', N'2725741004', N'rita_moreira@mrarquitetura.com.br', CAST(N'2002-04-01' AS Date))
GO
ALTER TABLE [dbo].[ocorrencia]  WITH CHECK ADD  CONSTRAINT [FK_ocorrencia_arma] FOREIGN KEY([arma])
REFERENCES [dbo].[arma] ([idArma])
GO
ALTER TABLE [dbo].[ocorrencia] CHECK CONSTRAINT [FK_ocorrencia_arma]
GO
ALTER TABLE [dbo].[ocorrencia]  WITH CHECK ADD  CONSTRAINT [FK_ocorrencia_criminoso] FOREIGN KEY([bandidin])
REFERENCES [dbo].[criminoso] ([codigoCriminoso])
GO
ALTER TABLE [dbo].[ocorrencia] CHECK CONSTRAINT [FK_ocorrencia_criminoso]
GO
ALTER TABLE [dbo].[ocorrencia]  WITH CHECK ADD  CONSTRAINT [FK_ocorrencia_policial] FOREIGN KEY([policia])
REFERENCES [dbo].[policial] ([idPolicia])
GO
ALTER TABLE [dbo].[ocorrencia] CHECK CONSTRAINT [FK_ocorrencia_policial]
GO
ALTER TABLE [dbo].[ocorrencia]  WITH CHECK ADD  CONSTRAINT [FK_ocorrencia_vitima] FOREIGN KEY([vitima])
REFERENCES [dbo].[vitima] ([idVitima])
GO
ALTER TABLE [dbo].[ocorrencia] CHECK CONSTRAINT [FK_ocorrencia_vitima]
GO
